.login-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.login-container .login-logo {
  height: 240px;
  line-height: 240px;
  color: #fff;
  background-color: green;
  text-align: center;
}
.login-container .login-form {
  padding: 5px;
}
.login-container .login-third {
  text-align: center;
}
.login-container .login-third i {
  margin: 30px;
}